
.content{
    width: 102.3%;
    height: 1500px;
    background-color: rgb(52, 52, 52);
    color: aliceblue;
    display: block;
    position: relative;
    left: 0;
    top: 100px;
    box-sizing: border-box;
}
.intro{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.intro a{
    text-decoration: none;
    color: #fffeffb4;
}
.intro a:hover{
    color: #a8741a;
}
.main_content{
    margin-top: 50px;
    width:100%;
    height: auto;
    display: flex;
    box-sizing: border-box;
    
}
.section{
    width: 22%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 20px;
    box-sizing: border-box;
    
}
.product{
    width: 77%;
    height: 1200px;
    display: flex;
    background-color: rgb(52, 52, 52);
    box-sizing: border-box;
    flex-direction: column;
}
.button{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin-left: 0px;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 50px;
}
.button button{
    color: #ffffff;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 500;
    margin-right: 25px;
    background-color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid whitesmoke;
}
.btn-product.active, .btn-product:hover{
    border: 1px solid #d07f41;
    color: #d07f41;
}
.button button:hover{
    border: 1px solid #d07f41;
    color: #d07f41;
}
.product-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 25px;
    margin-left: 10px;
}
.product-item{
    width: 29%;
    height: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgb(107, 107, 222) 0px 10px 60px -30px, rgba(207, 95, 95, 0.499) 0px 30px 60px -30px, rgb(0, 0, 0) 0px -2px 6px 0px inset;
}
.product-item .item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: 0.5s;
    pointer-events: none;
    object-fit: cover;
}
.product-item .layer{
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity: 0;
    transition: 0.3s;
}
.product-item .info{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -50px;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 1.75s opacity;
}
.info button{
    background: #490ccc;
    border: none;
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
}
.product-item:hover,
.product-item:hover .item,
.product-item:hover layer{
    transform: scale(1.1);
}
.product-item:hover > .layer{
    opacity: 1;
}
.product-item:hover > .info{
    bottom: 0;
    opacity: 1;
}
.product-items:hover > .product-items:not(:hover){
    filter: blur(5px);
}
.item img{
    width: 80%;
    height: 60%;
    background-clip: border-box;
    object-fit: cover;

}
.item input{
    width: 20%;
    height: 10%;
    background-color: #a8741a;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    position: absolute;
    top: 10px;
    left: 30px;
    border-radius: 18px;
    text-align: center;
}
.item h2{
    color: #000000;
    font-size: 20px;
    font-weight: 50;
    margin-top: 10px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
}

.item h3{
    color: #000000;
    font-size: 20px;
    font-weight: 50;
    margin-top: 5px;
    text-align: center;
}
.item .status{
    color: #000000;
    font-size: 20px;
    font-weight: 50;
    margin-top: 5px;
    text-align: center;
}
.listPage{
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    list-style: none;
}
.listPage li{
    background-color: ffffffBD;
    display: inline-block;
    padding: 20px;
    margin: 0px 10px;
    cursor: pointer;
} 
.listPage li.active{
    background-color: #b192ef;
    color: #fff;
}
/* modal cart */
.modal{
    visibility: hidden;
    display: block;
    width: 500px;
    height: auto;
    max-height: 550px;
    z-index: 100;
    position: fixed;
    top: 71px;
    left: 820px;
    padding: 0 auto;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.modal.active{
    visibility: visible;
    transition: all 0.5s ease;
    display: block;
}
.modal-body{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 252, 252);
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: auto;
    
}
.modal-body table{
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: none;
}
.modal-body table tr td:first-child{
    width: 30%;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: none;
    vertical-align: middle;
}
.modal-body table tr td:nth-child(2){
    width: 70%;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    vertical-align: middle;
     border: none;
}
.modal-body table tr td:last-child{
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    vertical-align: middle;
    border: none;
}
.modal-body table tr td img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    
}
.modal-body table tr td button{
    background: #ffffff;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
/* end modal cart */