.row{
    width: 102.3%;
}
.section{
    width: 102.3%;
    height: 700px;
    background-color: rgb(52, 52, 52);
    color: aliceblue;
    display: block;
    position: relative;
    left: 0;
    top: 100px;
    box-sizing: border-box;;
}
.section-1{
    padding-top: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section-1>p{
    text-align: center;
    color: #FFFF;
    font-size: 28px;
    margin-bottom: 20px;
}
.section-1-item{
    display: flex;
}
.section-1-item a{
    color: #FFFF;
    font-size: 20px;
    text-decoration: none;
}
.section-1-item>i{
    color: #FFFF;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}
.trangchu{
    color: #FFFF;
    text-decoration: none;
}
.trangchu:hover{
    color: rgb(168, 116, 26);
}
.dangnhap{
    color: rgb(168, 116, 26);
    text-decoration: none;
}
.section-2{
    width: 99%;
    height: 437px;
    margin: 0 auto;
}
.item1{
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 230px;
    overflow: auto;
}
.item table{
    width: 100%;
    height: 44px;
    color: #FFFF;
    font-size: 20px;
}
.item1 table{
    width: 100%;
    color: #FFFF;
    font-size: 16px;
}
.item table thead tr th:nth-child(1){
    width: 40%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
}
.item table thead tr th:nth-child(2){
    width: 20%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
}
.item table thead tr th:nth-child(3){
    width: 30%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
}
.item table thead tr th:nth-child(4){
    width: 20%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
}
.item1 table tbody tr{
    height: 210px;
    border: 0px;
    border-bottom: 1px solid white;
    border-style: solid;
    border-color: #FFFF;
}
.item1 table td:nth-child(1){
    width: 40%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
}
.item1 table td:nth-child(2){
    width: 20%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
}
.item1 table td:nth-child(3){
    width: 30%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
}
.item1 table td:nth-child(4){
    width: 20%;
    border: 0px;
    border-style: solid;
    border-color: #FFFF;
    color: rgb(168, 116, 26);
}
.item1 table td img{
    width: 30%;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}
.item1 table td input{
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    font-size: 20px;
    color: #000000;
    border: none;
    text-align: center;
}
.item3{
    display: flex;
    justify-content: flex-end;
    height: 60px;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    color: #FFFF;
}
.item3>h3{
    color: #FFFF;
    font-size: 16px;
    height: 30px;
    margin-top: 25px;
    margin-right: 20px;
}
.item3>span{
    color: rgb(168, 116, 26);
    font-size: 18px;
    height: 30px;
    margin-top: 20px;
    margin-right: 100px;
}
.item4{
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: #FFFF;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
}
.item4 a{
    color: #FFFF;
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;

}
.item4 a:hover{
    color: white;
}
.nut1{
    width: 235px;
    height: 45px;
    background-color: rgb(168, 116, 26);
    color: #FFFF;
    margin-right: 20px;
    margin-top: 20px;
}
.nut2{
    width: 156px;
    height: 45px;
    background-color: rgb(168, 116, 26);
    color: #FFFF;
    margin-top: 20px;
}
/* End Section 1 */
